body {
}

#container{
  width: 90%;
  margin: auto;
  position: relative;
}

#container::before{
  content: "";
  display: block;
  padding-top: 100%;
}

#timer {
    min-width: 300px;
    min-height: 300px;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    max-height: calc(100vh - 64px);
}